{% extends 'test_site/base.html' %}
{% block content %}
<div class="col-md-4">
    <h4>
        Information
    </h4>
    <p>
        Name - {{client.name}}
    </p>
    <p>
        Shops - {{client.shops}}
    </p>
    <p>
        Date_from - {{client.date_from}}
    </p>
    <p>
        Date_to - {{client.date_to}}
    </p>
</div>
<div class="col-md-4">
    <div>
        {% autoescape off %}
        {{ sales }}
        {% endautoescape %}
    </div>

    <div>
        {% autoescape off %}
        {{ products1 }}
        {% endautoescape %}
    </div>
    <div>
        {% autoescape off %}
        {{ products2 }}
        {% endautoescape %}
    </div>

</div>

    {% endblock %}
